@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 200;
  src: local('Oswald ExtraLight'), local('Oswald-ExtraLight'), url('../fonts/oswald-v17-cyrillic_latin-200.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/oswald-v17-cyrillic_latin-200.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url('../fonts/oswald-v17-cyrillic_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/oswald-v17-cyrillic_latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: local('Oswald Bold'), local('Oswald-Bold'), url('../fonts/oswald-v17-cyrillic_latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/oswald-v17-cyrillic_latin-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: 'Oswald', 'Arial', 'Helvetica', Sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  font-weight: 400;
  color: #444444;
  background-color: #ffffff;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.page-main {
  flex-grow: 1;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
img {
  box-sizing: content-box;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder {
  color: transparent;
}
input:focus:-ms-input-placeholder {
  color: transparent;
}
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
textarea:focus:-moz-placeholder {
  color: transparent;
}
textarea:focus::-moz-placeholder {
  color: transparent;
}
textarea:focus:-ms-input-placeholder {
  color: transparent;
}
.button {
  display: block;
  font-family: inherit;
  text-transform: uppercase;
  line-height: 40px;
  text-decoration: none;
  padding: 0 15px;
  border: none;
  background-color: #68b738;
  color: #ffffff;
  transition-duration: 0.2s;
}
.button:hover,
.button:focus {
  background-color: #5eaa2f;
  cursor: pointer;
  outline: none;
}
.button:active {
  color: rgba(255, 255, 255, 0.3);
}
.button--type-2 {
  color: #444444;
  background-color: #f2f2f2;
}
.button--type-2:hover,
.button--type-2:focus {
  background-color: #ebebeb;
}
.button--type-2:active {
  color: rgba(68, 68, 68, 0.3);
}
.input {
  line-height: 50px;
  font-size: 20px;
  text-transform: uppercase;
  border: 1px solid #e7e7e7;
  height: 50px;
  padding-left: 18px;
  padding-right: 18px;
}
.input:hover {
  border: 1px solid #cfcfcf;
}
.input:focus,
.input:active {
  outline: none;
  border-color: #444444;
  box-shadow: inset 0 0 0 1px #444444;
}
.input:invalid {
  border-color: #ff8888;
  box-shadow: inset 0 0 0 1px #ff8888;
}
.custom-indicator-label {
  display: block;
  position: relative;
  padding-left: 55px;
  line-height: 40px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.custom-indicator-label:active {
  color: rgba(68, 68, 68, 0.3);
}
.custom-indicator-label input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border: 1px solid #cdcdcd;
  border-radius: 0;
  background-color: transparent;
  transition-duration: 0.2s;
}
.custom-indicator-label input[type="checkbox"]:hover + .checkbox-indicator,
.custom-indicator-label input[type="checkbox"]:focus + .checkbox-indicator {
  border-color: #bababa;
  background-color: inherit;
}
.custom-indicator-label input[type="checkbox"]:active + .checkbox-indicator {
  border-color: rgba(186, 186, 186, 0.3);
  background-color: inherit;
}
.custom-indicator-label input[type="checkbox"]:disabled + .checkbox-indicator {
  border-color: grey;
  background-color: inherit;
}
.custom-indicator-label input[type="checkbox"]:checked + .checkbox-indicator::before {
  content: "";
  position: absolute;
  top: 21.5px;
  left: 5.2px;
  width: 12px;
  height: 2px;
  background-color: #68b738;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.custom-indicator-label input[type="checkbox"]:checked + .checkbox-indicator::after {
  content: "";
  position: absolute;
  top: 18px;
  left: 11px;
  width: 22px;
  height: 2px;
  background-color: #68b738;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.custom-indicator-label input[type="checkbox"]:hover:checked + .checkbox-indicator::before,
.custom-indicator-label input[type="checkbox"]:focus:checked + .checkbox-indicator::before,
.custom-indicator-label input[type="checkbox"]:hover:checked + .checkbox-indicator::after,
.custom-indicator-label input[type="checkbox"]:focus:checked + .checkbox-indicator::after {
  background-color: #68b738;
}
.custom-indicator-label input[type="checkbox"]:active:checked + .checkbox-indicator::before,
.custom-indicator-label input[type="checkbox"]:active:checked + .checkbox-indicator::after {
  background-color: rgba(104, 183, 56, 0.3);
}
.custom-indicator-label input[type="radio"] + .radio-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
  background-color: transparent;
  transition-duration: 0.2s;
}
.custom-indicator-label input[type="radio"]:hover + .radio-indicator,
.custom-indicator-label input[type="radio"]:focus + .radio-indicator {
  border-color: #bababa;
  background-color: inherit;
}
.custom-indicator-label input[type="radio"]:active + .radio-indicator {
  border-color: rgba(186, 186, 186, 0.3);
  background-color: inherit;
}
.custom-indicator-label input[type="radio"]:disabled + .radio-indicator {
  border-color: grey;
  background-color: inherit;
}
.custom-indicator-label input[type="radio"]:checked + .radio-indicator::before {
  content: "";
  position: absolute;
  top: calc(50% - (18px / 2));
  left: calc(50% - (18px / 2));
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #68b738;
}
.custom-indicator-label input[type="radio"]:hover:checked + .radio-indicator::before,
.custom-indicator-label input[type="radio"]:focus:checked + .radio-indicator::before {
  background-color: #68b738;
}
.custom-indicator-label input[type="radio"]:active:checked + .radio-indicator::before,
.custom-indicator-label input[type="radio"]:active:checked + .radio-indicator::before {
  background-color: rgba(104, 183, 56, 0.3);
}
.main-logo__body,
.main-logo__rays {
  display: none;
}
@media (min-width: 768px) {
  .main-logo__body {
    display: inline;
  }
}
@media (min-width: 1440px) {
  .main-logo__rays {
    display: inline;
  }
}
.page-header {
  outline: 1px dashed grey;
  margin: 0 auto;
  width: 320px;
  background-color: transparent;
}
@media (min-width: 768px) {
  .page-header {
    width: 768px;
  }
}
@media (min-width: 1440px) {
  .page-header {
    width: 1440px;
  }
}
.page-footer {
  outline: 1px dashed grey;
  margin: 0 auto;
  width: 320px;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .page-footer {
    width: 768px;
  }
}
@media (min-width: 1440px) {
  .page-footer {
    width: 1440px;
  }
}
.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-list__item {
  border-bottom: 1px solid #e6e6e6;
  text-align: center;
}
.site-list__item--logo {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: center;
  position: relative;
}
@media (min-width: 768px) {
  .site-list__item--logo {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1440px) {
  .site-list__item--logo {
    padding-left: 110px;
    padding-right: 110px;
  }
}
.site-list__link {
  padding-left: 20px;
  padding-right: 20px;
  display: block;
  line-height: 66px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  color: #111111;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.site-list__link[href]:hover,
.site-list__link[href]:focus {
  outline: none;
  color: #ffffff;
  background-color: #5eaa2f;
}
.site-list__link[href]:active {
  color: rgba(255, 255, 255, 0.3);
}
.site-list__logo-link {
  display: flex;
  justify-content: flex-end;
  margin-left: -72px;
}
.site-list__logo-mini-image {
  display: block;
  width: 38px;
  position: absolute;
  left: 20px;
}
.site-list__toggle--no-js {
  position: absolute;
  right: 20px;
  display: none;
}
@media (min-width: 768px) {
  .site-list {
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .site-list__logo-link {
    width: auto;
    margin-left: 0;
    display: flex;
  }
  .site-list__logo-image {
    margin: auto;
    width: 174px;
    flex-shrink: 0;
  }
  .site-list__logo-mini-image {
    display: none;
  }
  .site-list__item {
    border: none;
  }
  .site-list__item:not(:last-child):not(:first-child) {
    margin-right: 35px;
  }
  .site-list__item--logo {
    padding-left: 0;
    padding-right: 10px;
    padding-bottom: 5px;
    margin-right: 40px;
  }
  .site-list__link {
    margin: 0;
    padding: 0;
    line-height: 110px;
    font-size: 20px;
    font-weight: 400;
  }
  .site-list__link:not([href]) {
    position: relative;
  }
  .site-list__link:not([href]):before {
    content: "";
    position: absolute;
    top: 68%;
    width: 100%;
    height: 3px;
    background-color: #68b738;
  }
  .site-list__link[href]:hover,
  .site-list__link[href]:focus {
    color: rgba(17, 17, 17, 0.6);
    background-color: inherit;
  }
  .site-list__link[href]:active {
    color: rgba(17, 17, 17, 0.3);
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .site-list {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .site-list {
    padding-left: 110px;
    padding-right: 110px;
  }
}
@media (min-width: 1440px) {
  .site-list {
    padding-top: 20px;
  }
  .site-list__item--logo {
    margin-right: 540px;
  }
  .site-list__link--main-page {
    color: #ffffff;
  }
  .site-list__link--main-page:not([href]):before {
    background-color: #ffffff;
  }
  .site-list__link--main-page[href]:hover,
  .site-list__link--main-page[href]:focus {
    color: rgba(255, 255, 255, 0.6);
    background-color: inherit;
  }
  .site-list__link--main-page[href]:active {
    color: rgba(255, 255, 255, 0.3);
  }
  .site-list--main-page::before {
    content: "";
    position: absolute;
    z-index: -1;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: #68b738;
  }
}
.site-intro {
  outline: 1px dashed grey;
  margin: 0 auto;
  width: 320px;
  position: relative;
  padding-top: 30px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media (min-width: 768px) {
  .site-intro {
    width: 768px;
  }
}
@media (min-width: 1440px) {
  .site-intro {
    width: 1440px;
  }
}
.site-intro__title {
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
  color: #ffffff;
  line-height: 36px;
  font-size: 36px;
  font-weight: 400;
}
.site-intro__title::first-letter {
  text-transform: uppercase;
}
.site-intro__slogan {
  color: #ffffff;
  text-transform: uppercase;
  line-height: 14px;
  font-size: 14px;
  margin-bottom: 26px;
}
.site-intro__img {
  margin: 0 auto;
  margin-bottom: 60px;
}
.site-intro__button {
  position: absolute;
  top: 430px;
  width: calc(100% - (20px * 2));
  margin-left: 20px;
  margin-right: 20px;
}
.site-intro::before {
  position: absolute;
  z-index: -1;
  content: "";
  width: 100%;
  height: 306px;
  top: 0;
  right: 0;
  background: url(../img/site-intro-bg-small.jpg) 50% 50% no-repeat;
  background-size: cover;
}
@media (min-width: 768px) {
  .site-intro {
    padding-top: 40px;
    padding-left: 120px;
    text-align: left;
  }
  .site-intro__title {
    margin-bottom: 30px;
    color: #111111;
    line-height: 1em;
    font-size: 58px;
  }
  .site-intro__slogan {
    color: #111111;
    line-height: 20px;
    font-size: 20px;
    margin-bottom: 16px;
  }
  .site-intro__button {
    width: auto;
    margin: 0;
    top: 230px;
    font-size: 20px;
    line-height: 50px;
    padding: 0 25px;
  }
  .site-intro__img {
    margin: 0;
    width: 140%;
    margin-left: -50px;
  }
  .site-intro:before {
    display: none;
  }
}
@media (min-width: 1440px) {
  .site-intro {
    min-height: 562px;
    padding-top: 95px;
  }
  .site-intro__title {
    margin-bottom: 45px;
  }
  .site-intro__slogan {
    margin-bottom: 45px;
  }
  .site-intro__img {
    height: 530px;
    width: auto;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 42%;
  }
  .site-intro__button {
    position: static;
    display: inline-block;
  }
  .site-intro:before {
    display: block;
    right: 0;
    top: -132px;
    width: 50%;
    height: 695px;
    background: url(../img/site-intro-bg.jpg) 50% 50% no-repeat;
    background-color: #68b738;
  }
}
.aim {
  outline: 1px dashed grey;
  margin: 0 auto;
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid transparent;
}
@media (min-width: 768px) {
  .aim {
    width: 768px;
  }
}
@media (min-width: 1440px) {
  .aim {
    width: 1440px;
  }
}
@media (min-width: 768px) {
  .aim {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1440px) {
  .aim {
    padding-left: 110px;
    padding-right: 110px;
  }
}
.aim__card {
  background-color: #f2f2f2;
  padding: 20px;
  padding-top: 30px;
}
.aim__card:not(:last-child) {
  margin-bottom: 20px;
}
.aim__title {
  margin: 0;
  padding: 0;
  position: relative;
  padding-left: 70px;
  margin-bottom: 30px;
  line-height: 37px;
  font-size: 24px;
  text-transform: uppercase;
}
.aim__title::before {
  content: "";
  position: absolute;
  left: 0;
  top: -5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #68b738;
}
.aim__title--slim::after {
  content: "";
  position: absolute;
  left: 0;
  top: -6px;
  width: 48px;
  height: 48px;
  background-image: url(../img/cat-slim.svg);
  background-repeat: no-repeat;
  background-position: 70% 50%;
}
.aim__title--pro::after {
  content: "";
  position: absolute;
  left: -10px;
  top: -6px;
  width: 68px;
  height: 48px;
  background-image: url(../img/cat-pro.svg);
  background-repeat: no-repeat;
  background-position: 70% 50%;
}
.aim__description {
  position: relative;
  font-family: 'Arial', sans-serif;
  margin-bottom: 40px;
}
.aim__description::before {
  content: "";
  position: absolute;
  bottom: -22px;
  width: 100%;
  height: 1px;
  background-color: #d9d9d9;
}
.aim__link {
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  transition: 0.2s;
}
.aim__link:active {
  color: rgba(68, 68, 68, 0.3);
}
.aim__link::before {
  content: "";
  position: absolute;
  right: -32px;
  top: 46%;
  width: 18px;
  height: 2.5px;
  background-color: #444444;
  transition: 0.2s;
}
.aim__link::after {
  content: "";
  position: absolute;
  right: -42px;
  top: 28%;
  width: 10px;
  height: 10px;
  border: 5px solid transparent;
  border-left-color: #444444;
  transition: 0.2s;
}
.aim__link:hover::before,
.aim__link:focus::before {
  right: -42px;
  width: 28px;
}
.aim__link:hover::after,
.aim__link:focus::after {
  right: -52px;
}
.aim__link:active::before {
  right: -42px;
  width: 28px;
  background-color: rgba(68, 68, 68, 0.3);
}
.aim__link:active::after {
  right: -52px;
  border-left-color: rgba(68, 68, 68, 0.3);
}
@media (min-width: 768px) {
  .aim {
    padding-top: 0;
  }
  .aim__card {
    padding: 70px 300px 50px 50px;
    position: relative;
    min-height: 250px;
  }
  .aim__title {
    padding-left: 0;
    position: static;
    line-height: 36px;
    font-size: 36px;
  }
  .aim__title::before {
    width: 200px;
    height: 200px;
    left: auto;
    right: 60px;
    top: calc(50% - 100px);
  }
  .aim__title--slim::after {
    width: 195px;
    height: 195px;
    left: auto;
    right: 70px;
    top: calc(50% - 110px);
  }
  .aim__title--pro::after {
    width: 270px;
    height: 130px;
    left: auto;
    right: 28px;
    top: calc(50% - 60px);
  }
  .aim__description {
    margin-bottom: 40px;
  }
  .aim__description::before {
    display: none;
  }
  .aim__link {
    line-height: 20px;
    font-size: 20px;
  }
  .aim__link::after {
    top: 34%;
  }
}
@media (min-width: 1440px) {
  .aim {
    display: flex;
    flex-direction: row;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .aim__card {
    width: 570px;
    min-height: auto;
    position: static;
    padding: 80px 50px 55px;
  }
  .aim__card:not(:last-child) {
    margin-right: auto;
    margin-bottom: 0;
  }
  .aim__title {
    position: relative;
    padding-left: 165px;
    margin-bottom: 70px;
  }
  .aim__title::before {
    right: auto;
    left: 0;
    top: -25px;
    width: 100px;
    height: 100px;
  }
  .aim__title--slim::after {
    right: auto;
    left: 0;
    top: -28px;
    width: 98px;
    height: 98px;
  }
  .aim__title--pro::after {
    right: auto;
    left: -18px;
    top: -6px;
    width: 135px;
    height: 62px;
  }
  .aim__description {
    line-height: 24px;
    font-size: 16px;
    margin-bottom: 30px;
  }
}
